<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="connectionstring" value="Data Source=THINKPAD\CASEY;Integrated Security=false ;initial catalog=Ucar_test;User ID=sa;Password=sa" />
  <add key="connectionstring1" value="Data Source=(local);Integrated Security=false ;initial catalog=Ucar_lixi;User ID=sa;Password=7255392" />
   <add key="_server" value="smtp.163.com" />
   <add key="_name" value="jioor@163.com" />
   <add key="_pwd" value="jioor725539" />
   <add key="_sendMail" value="jioor@163.com" />
  <add key="WebBasePath" value="C:\inetpub\wwwroot\hxyd_crm" />
  <add key="Debug" value="false" />
  <add key="ServerIp" value="127.0.0.1" />
  <add key="ServerPort" value="80" />
  <add key="DownloadPath" value="/hxyd_crm/resource/" />
  <add key="FilePath" value="/hxyd_crm/export/" />
  <add key="AbsolutePath" value="C:\\Inetpub\\wwwroot\\hxyd_crm\\resource\\" />
  <add key="LocalPath" value="C:\\" />
  <add key="SSL" value="0" />
  <add key="PayBillPath" value="/hxyd_crm/paydownload/" />
  <add key="WebPayBillPath" value="paydownload" />
  <add key="SystemName" value="客户关系管理" />
  <add key="LocalId" value="本地化标识，使用项目名汉语拼音大写" />
  <add key="ManagementServerUrl" value="http://127.0.0.1/ManagementServerWeb/ServerService.asmx" />
  <add key="ApplicationName" value="hxyd_crm" />
  <add key="OrganizationName" value="客户关系管理" />
  <add key="OracleDbCharacterSet" value="" />
  <add key="login_page" value="index.aspx" />
  <add key="DayNum" value="160" />
</appSettings>